<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/static/css/404.css">
</head>
<body>
    <div class="text-box">
        <h1>404</h1>
        <p>Oops! The page you’re looking for doesn’t exist.</p>
        <a href="{% url 'authentication:login_register' %}" class="home-btn">Go Home</a>
    </div>
    <div class="cow">
        <div class="head">
            <div class="face"></div>
        </div>
        <div class="leg b l"></div>
        <div class="leg b r"></div>
        <div class="leg f l"></div>
        <div class="leg f r"></div>
        <div class="tail"></div>
    </div>
    <div class="well"></div>
</body>
</html>
